.page1 {
    background-color: #FFEEDF;
    border-radius: 20px;
    background-image: url(../assets/bggif.gif);
}

.title-and-image {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.accord-color1 {
    background-color: #F6B6A8;
}

.bold-text {
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-shadow: rgb(0, 0, 0) 1px 0 3px;
}

.accord-style {
    color: white;
    text-shadow: rgb(0, 0, 0) 1px 0 3px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button.bold-text:hover {
    color: #C9A8A8;
}


.border-video {
    background-color: #C9A8A8;
}

.text-left {
    text-align: left;
}

.rank-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: white;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    -webkit-text-stroke: 1px black;
    font-size: 40px;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #C9A8A8;
}

.review-bgcolor {
    background-color: #C9A8A8;
}

/* Page-2 Style */
.page2 {
    background-color: #ffe4d3;
    background-image: url(../assets/bg-gif.gif);
}

.green-BG {
    background-color: rgb(223, 247, 223);
}

.textbox-style {
    font-size: larger;
}

.page3 {
    background-color: #dff6f0;
    background-image: url(../assets/bggif2.gif);
    background-repeat: repeat-x repeat-y;
}